.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    padding-left: 20%; /* 오른쪽으로 이동 */
}

form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
    font-size: 16px;
}

.label {
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error {
    color: red;
    text-align: center;
    font-size: 14px;
}

.submit-button {
    background-color: #333;
    color: white;
    padding: 15px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #555555;
}